/* http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
*,
*::before,
*::after {
  font-family: NotoSansKR !important;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: "NotoSansKR";
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

/* remember to define visible focus styles!
         :focus{outline:?????;}
         */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

caption {
  display: none;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  box-sizing: border-box;
}

em {
  font-style: normal;
}

.hidden {
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}

#root [class*="sol-transition-wrap"] {
  width: 100%;
  text-align: left;
}
/* 
::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
} */

:focus {
  outline: none;
}

input,
textarea,
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: var(--t6-font-size);
  line-height: var(--t6-line-height);
  color: var(--grey900);
  letter-spacing: -0.5px;
}
